* {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    box-sizing: border-box;
}


body {
    background-image: url(vogue.jpg);
    color: aliceblue;
    text-align: center;
}



.prada {
    border-radius: 0.5rem;
    background-color: #000000;
    padding: 2rem;
    height: 400px;
    display: flex;
    margin-left: 30rem;
}


.cabecalho {
    background-color: #000000;
    text-align: left;
    font-style: italic;
    width: 100%;
    height: 100%;
    margin-bottom: 5rem;
    padding: 2.5rem;
}


.navegador {

    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 25px;
    background-color: rgba(0, 0, 0, 0.925);
    z-index: 1000;
    justify-content: space-around;


}



.menu {
    
    display: flex;
    list-style: none;
    gap: 56px;
    justify-content: center;
    
}


.secao{
    display: inline-block;
    padding: 10rem;
    background-color: rgb(0, 0, 0);
    margin:6rem 10rem 0 10rem;
    border-radius: 3rem;
    box-shadow: 0 0 25px var(--cor-brilho);
    transition: 0.4s ease-in-out;
}
.secao:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px #e2c3c3;
}


.link {
    text-decoration: none;
    color: #991a1a;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
}


.titulo {
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    color: #8f0f0f;
}

.p1{
    margin-bottom: 0;
    margin-left: 6rem;
    margin-right:6rem;
    font-size: larger;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(45deg, #a10505, #da8a8a);
    margin:4rem ;
    border-radius: 3rem; 
    display: inline-block;
    padding: 5rem;
    color: #000000;
}


.secao02 {
    display: inline-block;
    padding: 10rem;
    background-color: rgb(0, 0, 0);
    margin:6rem 10rem 0 10rem;
    border-radius: 3rem;
    box-shadow: 0 0 25px var(--cor-brilho);
    transition: 0.4s ease-in-out;
}


.titulo02 {
    margin-bottom: 6rem;
    font-family: 'Times New Roman', Times, serif;
    color: #edb0b0;
}


.img4 {
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 4rem;
    border-radius: 4rem;
     background: linear-gradient(45deg, #a10505, #da8a8a);
     display: inline-block;
     padding: 0.5rem;


}


.secao03 { 
    display: inline-block;
    padding: 10rem;
    background-color: rgb(0, 0, 0);
    margin:6rem 10rem 5rem 10rem;
    border-radius: 3rem;
    box-shadow: 0 0 25px var(--cor-brilho);
    transition: 0.4s ease-in-out;
    color: #e76969;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    
}


.opn {
    width: 100%;
    padding: 1rem;
    background-color: #740202;
    border-radius: 8px;
    color: aliceblue;
    font-size: larger;
}



.botao {
    color: rgb(255, 252, 252);
    background-color: rgb(112, 5, 5);
    padding: 1rem 2rem;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    width: 100%;
    transition: all 0.5 ease;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
}


.botao:hover {
    transform: translateY(-4px);
    box-shadow: 0 5px 15px #e2c3c3; 
}



.pe {
    padding: 1rem;
    background-color: #000000;
    color: #5f0404;
    font-family: 'Times New Roman', Times, serif;
    font-size: larger;
}



